<html>
    <head>
        <title>Chat App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/login.css">
        <script src="https://kit.fontawesome.com/532339c68e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="login-container">
            <div class="login-container-header">
                <h2>Login</h2>
            </div>
            <div>
                <form>
                    <div class="login-container-form-username">
                        <i class="fa-solid fa-user login-icon"></i>
                        <label for="username">Username:</label>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="login-container-form-password">
                        <i class="fa-solid fa-key login-icon"></i>
                        <label for="name">Password:</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="login-container-form-button">
                        <button type="button">Login</button>
                    </div>
                </form>
            </div>
            <div>
                New here? <a href="/register">Create an account</a>
            </div>
        </div>
    </body>
  </html>