<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat App - Rooms</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="module" src="/static/js/room-actions.js" defer></script>
    </head>
    <body>      
        <div class="wrapper">
            <h1>Rooms</h1>
            <button>Logout</button>
        </div>
    </body>
</html>